
@media screen and (max-width: 800px) {
    #imgs {
        width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        
    }

    #nt img {
        width:100vw;
        height:50vh;
    
       
    }
}
#nt{
    width: 98.5vw;
    height: 100vh;
}