
@media screen and (max-width: 800px) {
    #imgs {
        width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        
    }
   

    #nt img {
        width:30vw;
        height:50vh;
        margin-left: auto;
        margin-right: auto;
        
    
       
    }
}
